<!-- Article main content -->
 <div class="row">
    <article class="col-sm-8 col-sm-offset-2 jumbotron jumbo-bg bottom-margin">
           <div class="row ">
               <div class="col-sm-2">&nbsp;</div>
               <div class="col-sm-10 text-center embeded">
                   <div class="row">
                       <div class="col-sm-4">
                           <img src="../assets/img/logo-small.png" class="text-center small-logo"  alt=""/>
                       </div>
                       <div class="col-sm-8">
                           <h1>HobbySpace</h1>
                           <h3>
                               share your hobbies<br> find more mates!
                           </h3>
                           <a href="#login" class="hobbie-logo btn btn-success top-margin text-center">
                               Login
                           </a>
                       </div>
                   </div>
               </div>
           </div>
    </article>
<!-- /Article -->
</div>

<div class="row">
    <article class="col-sm-12">
        <div class="panel panel-default news-item">
            <h4 class="text-center">News item Featured</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda cumque debitis doloremque dolores dolorum ducimus, explicabo ipsam molestias nesciunt nobis non numquam omnis perferendis, placeat porro quasi, quibusdam quo quos sed temporibus ullam ut. Dignissimos, omnis saepe! Autem beatae culpa delectus, eos ex incidunt iusto quisquam recusandae reprehenderit sapiente!</p>
        </div>
    </article>
</div>

<!-- Article main content -->
<div class="row">
    <article class="col-sm-4">
        <div class="panel panel-default news-item">
            <h4 class="text-center">News item 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci eveniet excepturi facilis incidunt labore mollitia nisi possimus, quaerat ratione, saepe sapiente sint, tempore veniam?</p>
        </div>
    </article>
    <article class="col-sm-4">
        <div class="panel panel-default news-item">
            <h4 class="text-center">News item 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci eveniet excepturi facilis incidunt labore mollitia nisi possimus, quaerat ratione, saepe sapiente sint, tempore veniam?</p>
        </div>
    </article>
    <article class="col-sm-4">
        <div class="panel panel-default news-item">
            <h4 class="text-center">News item 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci eveniet excepturi facilis incidunt labore mollitia nisi possimus, quaerat ratione, saepe sapiente sint, tempore veniam?</p>
        </div>
    </article>
</div>


