<!-- Article main content -->
<article class="col-sm-8 col-sm-offset-2 jumbotron jumbo-bg bottom-margin">
       <div class="row ">
           <div class="col-sm-6">&nbsp;</div>
           <div class="col-sm-6 text-center embeded">
               <img src="img/logo-small.png" class="text-center" alt=""/>
               <h1>HobbySpace</h1>
               <h3>
                   share your hobbies<br> find more mates!
               </h3>
               <a href="#login" class="hobbie-logo btn btn-success top-margin text-center">
                   Login
               </a>
           </div>
       </div>
</article>
<!-- /Article -->

<!-- Article main content -->
<article class="col-sm-12 ">
as
</article>