<article class="col-xs-12 maincontent">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center bottom-margin">
                    <span style="font-size: 3em" class="label label-success pull-left">:)</span>
                    <h2> Sign in to your account</h2>
                    <p class="text-muted">If you don't have it - maybe it's time to <a href="/register">register</a>    ? </p>

                </div>

                <form>
                    <div class="top-margin">
                        <input type="email" class="form-control" placeholder="oleksandr.kochetov@globallogic.com">
                    </div>
                    <div class="top-margin">
                        <input type="password" class="form-control" placeholder="*********">
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-lg-4">
                            <a class="btn btn-info pull-left" href="/register">Register</a>
                        </div>
                        <div class="col-lg-4 col-lg-offset-4">
                            <button class="btn btn-action pull-right" type="submit">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</article>
