
<!-- Article main content -->
<article class="col-xs-12 maincontent">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="text-center bottom-margin">
                    <span style="font-size: 3em" class="label label-warning pull-left">!</span>
                    <h2> Register a new account</h2>
                    <p> We'll remember you! Don't write anything weird here!</p>
                </div>

                <form>
                    <div class="top-margin">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="Vladimir" required="">
                    </div>
                    <div class="top-margin">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Mayakovskiy" required="">
                    </div>
                    <div class="top-margin">
                        <label>Email Address <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" placeholder="vladimir.mayakovskiy@gmail.com" required="">
                    </div>

                    <div class="row top-margin">
                        <div class="col-sm-6">
                            <label>Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" required="" placeholder="**********">
                        </div>
                        <div class="col-sm-6 top-margin-resp">
                            <label>Confirm Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" required="" placeholder="**********">
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-8 text-right">
                            <button class="btn btn-action" type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</article>
<!-- /Article -->